[submodule "wine"]
	path = wine
	url = https://github.com/Gravemind/wine
	branch = my-wine-3.15-steam-staging
[submodule "wine-staging"]
	path = wine-staging
	url = https://github.com/wine-staging/wine-staging.git
[submodule "Proton"]
	path = Proton
	url = https://github.com/ValveSoftware/Proton.git
	branch = proton_3.7
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/doitsujin/dxvk.git
[submodule "winetricks"]
	path = winetricks
	url = https://github.com/Winetricks/winetricks
	branch = master
[submodule "FAudio"]
	path = FAudio
	url = https://github.com/FNA-XNA/FAudio
