[submodule "wine"]
	path = wine
	url = https://github.com/Gravemind/wine
	branch = my-wine-3.15-steam-staging
[submodule "wine-staging"]
	path = wine-staging
	url = https://github.com/wine-staging/wine-staging.git
